<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ChessUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="MyConnectionString"
             connectionString="Server=LAPTOP-KBPKJ5JM;Database=UserLoginChessGameDB;User Id=UserLoginChessGame;Password=123456;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <ChessUI.Properties.Settings>
   <setting name="RememberedUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
  </ChessUI.Properties.Settings>
 </userSettings>
</configuration>